<div class="expansivel" [ngClass]="{ 'expansivel--aberto': expandido }">
  <button
    class="expansivel__botao"
    (click)="controleExpandirRecolher()"
  >
    <div class="expansivel__header">
      <ng-container *ngIf="headerExpansivelTemplateRef; else header">
        <div class="expansivel__header--custom">
          <ng-container
            *ngTemplateOutlet="headerExpansivelTemplateRef"
          ></ng-container>
        </div>
      </ng-container>
      <ng-template #header>
        <div
          class="expansivel__titulo"
          [ngClass]="{ 'expansivel__titulo--aberto': expandido }"
        >
          <p>{{ titulo }}</p>
        </div>
      </ng-template>
    </div>
    <span class="expansivel__seta"></span>
  </button>

  <div
    class="expansivel__wrap"
    [ngStyle]="{ height: expandido ? getConteudoHeight() : '1px' }"
  >
    <div class="wrap__content">
      <ng-container *ngTemplateOutlet="templateRef"></ng-container>
    </div>
  </div>
</div>
