<div class="acessibilidade-content">
  <div class="acessibilidade-content__header">
    <h1>{{ 'ACESSIBILIDADE_WEB' | translate }}</h1>
    <p>{{ 'ACESSIBILIDADE_WEB_DESCRICAO_1' | translate }}</p>
  </div>

  <div class="acessibilidade-content__expansiveis">
    <p><strong>{{ 'TIPOS_DE_LIMITACOES' | translate }}</strong></p>

    <app-expansivel titulo="{{ 'PERMANENTE' | translate }}">
      <ng-template>
        <div class="expansiveis-content">
          <p>{{ 'PERMANENTE_DESCRICAO' | translate}}</p>
          <img src="/assets/imagens/limitacao_permanente.png">
        </div>
      </ng-template>
    </app-expansivel>

    <app-expansivel titulo="{{ 'TEMPORARIA' | translate }}">
      <ng-template>
        <div class="expansiveis-content">
          <p>{{ 'TEMPORARIA_DESCRICAO' | translate}}</p>
          <img src="/assets/imagens/limitacao_temporaria.png">
        </div>
      </ng-template>
    </app-expansivel>

    <app-expansivel titulo="{{ 'SITUACIONAL' | translate }}">
      <ng-template>
        <div class="expansiveis-content">
          <p>{{ 'SITUACIONAL_DESCRICAO' | translate}}</p>
          <img src="/assets/imagens/limitacao_situacional.png">
        </div>
      </ng-template>
    </app-expansivel>
  </div>

  <p>{{ 'ACESSIBILIDADE_WEB_DESCRICAO_2' | translate }}</p>
  <p>{{ 'ACESSIBILIDADE_WEB_DESCRICAO_3' | translate }}</p>
  <p>{{ 'ACESSIBILIDADE_WEB_DESCRICAO_4' | translate }}</p>

  <div class="acessibilidade-content__botao">
    <app-botao titulo="{{ 'CONCLUIR_TREINAMENTO' | translate }}" (clickBotaoEvent)="clickBotao()"></app-botao>
  </div>
</div>

<app-dialog *ngIf="showDialog" titulo="{{ 'PARABENS' | translate }}"
  mensagem="{{ 'GUIA_CONCLUIDO_DESCRICAO' | translate }}" tituloBotao="{{ 'CONTINUAR' | translate }}"
  (clickBotaoEvent)="redirect()">
</app-dialog>
