.dialog {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: .65;
  }

  &__container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 6;
    width: 100vw;
    background-color: #ffffff;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    display: flex;
    flex-direction: column;

    .container {
      &__content {
        padding: 32px 24px 32px 24px;

        h1 {
          margin: 0;
          font-size: 24px;
        }
      }
    }
  }
}
